config uhttpd main
	option listen_http '80'
	option listen_https '443'
	option enable_http '1'
	option enable_https '1'
	option enable_basic_auth '0'
	option home '/www'
	option rfc1918_filter_http '1'
	option rfc1918_filter_https '1'
	option max_requests '10'
	option max_connections '100'
	option cert '/etc/uhttpd.crt'
	option key '/etc/uhttpd.key'
	option cgi_prefix '/cgi-bin'
	option script_timeout '600'
	option network_timeout '30'
	option http_keepalive '0'
	option tcp_keepalive '5'
	option no_dirlists '1'
	option _httpWanAccess '0'
	option _httpsWanAccess '0'
	list lua_prefix '/api=/www/cgi-bin/api_dispatcher.lua'
	option index_page 'cgi-bin/index'
	option error_page '/cgi-bin/index'

config uhttpd hotspot
	option listen_http '81'
	option listen_https '444'
	option enablehttp '1'
	option home '/etc/chilli/hotspotlogin'
	option max_requests '3'
	option max_connections '100'
	option cert '/etc/uhttpd.crt'
	option key '/etc/uhttpd.key'
	option cgi_prefix '/cgi-bin'
	option script_timeout '600'
	option network_timeout '30'
	option http_keepalive '20'
	option tcp_keepalive '1'
	option no_dirlists '1'
	option disabled '1'

config cert defaults
	option days '3650'
	option key_type 'ec'
	option bits '2048'
	option ec_curve 'P-256'
	option country 'LT'
	option state 'Vilnius'
	option location 'Vilnius'
	option commonname 'Teltonika'
