
per_listener_settings true
user siteman

# Provisioning listener
listener 18883
acl_file /etc/siteman/mqtt_prov.acl
cafile /etc/siteman/certs/ca.crt
certfile /etc/siteman/certs/server.crt
keyfile /etc/siteman/certs/server.key
require_certificate false
allow_zero_length_clientid false
persistent_client_expiration 1h
allow_anonymous true
mount_point provision/
max_queued_messages 1000
max_packet_size 1048576

# Management listener
listener 28883
acl_file /etc/siteman/mqtt.acl
cafile /etc/siteman/certs/ca.crt
certfile /etc/siteman/certs/server.crt
keyfile /etc/siteman/certs/server.key
# crlfile /etc/siteman/certs/crl.pem
require_certificate true
allow_zero_length_clientid false
use_identity_as_username true
allow_anonymous false
mount_point management/
max_queued_messages 1000
max_packet_size 1048576

listener 38883 127.0.0.1
allow_anonymous false
password_file /etc/siteman/mqtt.passwd
