config general 'general'
	option enabled '0'
	option bbmd_enabled '0'
	option bbmd_port '47808' 

config port '1'
	option device_type 'bip'
	option device 'br-lan'
	option port '47808'
	option network '1'
	option enabled '1'

config port '2'
	option device_type 'mstp'
	option device '/dev/rs485'
	option mac '13'
	option max_client '127'
	option max_frames '20'
	option baud '38400'
	option parity 'None'
	option databits '8'
	option stopbits '1'
	option network '2'
	option enabled '1'
