config rpcd
	option socket /var/run/ubus/ubus.sock
	option timeout 300

config login
	option username 'admin'
	option group 'root'

config superuser
	option username 'admin'
	option group 'root'

config group 'root'
	option hide_sensitive '0'
	option privilege_lvl '3'
	option target_write 'allow'
	option target_read 'allow'
	list read 'superuser'
	list read '*'
	list write 'superuser'
	list write '*'

config group 'admin'
	option hide_sensitive '1'
	option privilege_lvl '2'
	option target_write 'deny'
	option target_read 'deny'
	list read '!system/admin/multiusers/users_configuration*'
	list read '!system/admin/profiles*'
	list read '!system/maintenance/backup*'
	list read '!system/flashops*'
	list read '!system/maintenance/cli*'
	list read '!system/wizard*'
	list read '!system/maintenance/uscripts*'
	list read '!superuser'
	list read '*'
	list write '!system/admin/multiusers/users_configuration*'
	list write '!system/maintenance/backup*'
	list write '!system/flashops*'
	list write '!system/maintenance/cli*'
	list write '!system/wizard*'
	list write '!system/maintenance/uscripts*'
	list write '!system/admin/access_control/general*'
	list write '!system/admin/profiles*'
	list write '!superuser'
	list write '*'

config group 'user'
	option hide_sensitive '1'
	option privilege_lvl '1'
	option target_write 'allow'
	option target_read 'deny'
	list read '!system/admin/multiusers/users_configuration*'
	list read '!system/flashops*'
	list read '!system/maintenance/backup*'
	list read '!system/admin/access_control*'
	list read '!system/maintenance/cli*'
	list read '!system/maintenance/uscripts*'
	list read '!system/maintenance/troubleshoot*'
	list read '!system/package_manager*'
	list read '!network*'
	list read '!system/wizard*'
	%%WIRELESS_CHANNEL_ANALYSIS_ACL%%
	%%USER_SCRIPTS_HOTSPOT_ACL%%
	%%MOBILE_UTILS_SMS_SEND_ACL%%
	list read '!superuser'
	list read '*'
	list write 'system/admin/multiusers/change_password*'
	list write '!superuser'
	list write 'core'
