<html>
    <%include("header")%>
    <body>
        <div class="template">
            <div class="template__body">
                <div class="template__picture">
                    <%include("logo")%>
                    <h1 class="template__title"><%=var.text.form.picture_title%></h1>
                </div>
                <div class="template__panel">
                    <div class="template__panel-content">
                        <h2 class="template__panel-title"><%=var.text.form.access_denied%></h2>
                        <p class="template__panel-text"><%=var.text.form.access_denied_message%></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
