<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';">
    <link rel="stylesheet" href="/cgi-bin/hotspot/style.css">
    <% if favicon ~= "" then %>
    <link rel="shortcut icon" href="<%=favicon%>">
    <% end %>
    <script type="module" defer src="/cgi-bin/hotspot/HotspotLogin.js"></script>
    <title><%=var.text.form.page_title%></title>
</head>
