config main 'config'
	option force_dns '0'

config https-dns-proxy '1'
	list bootstrap_dns '1.1.1.1'
	list bootstrap_dns '1.0.0.1'
	option resolver_url 'https://cloudflare-dns.com/dns-query'
	option listen_port '5053'

config https-dns-proxy '2'
	list bootstrap_dns '8.8.8.8'
	list bootstrap_dns '8.8.4.4'
	option resolver_url 'https://dns.google/dns-query'
	option listen_port '5054'
